 
 
.form-control {
     width: 650px
     !important; 
     height: 30px
     !important;
     
}
.text-color{
    color: #090979;
}
.toggle-btn{
     padding-left: 200px;
     padding-top: 5px;
}
 
/* responsive  added for log in form */
@media only screen  and (max-width:688px){
     .form-control{
        
          width: 250px
             !important; 
            height: 30px
             !important;
                
     
     }
}
@media only screen  and (max-width:688px){
     .toggle-btn{
        
          padding-left: 0;
          padding-right: 20px;      
     
     }
}